﻿@{
    ViewBag.Title = "Ekuthuleni Lodge";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article id="about">
    <h2 class="section">History</h2>
    <p>Write nonsense about the lodge here</p>
    <div id="loungePicture"/>
    <h2 class="section">Facilites</h2>
    <div id="loungePicture" />
    <p>Write about the facilites</p>
    <div id="outsidePicture" class="divPicture"/>
    <h2 class="section">Wildlife</h2>
    <p>Write about the wildlife</p>
    <div id="wildlifePicture" class="divPicture" />
    <p>Write abit more :D</p>
    <h2 class="section">Location</h2>
    <p>Located just outside ???? inside the ??? nature reserve. </p>
    <h4>GPS Co-ordinates:<a href="http:/www.maps.google.com">Maps...</a></h4>
    <div id="locationPicture" />

</article>