﻿@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>0860 619 619 (Toll Free)</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>0860 620 620</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Bookings:</span>
        <span><a href="mailto:bookings@ekuthulenilodge.co.za">bookings@ekuthulenilodge.co.za</a></span>
    </p>
    <p>
        <span class="label">Conference Centre:</span>
        <span><a href="mailto:conference@ekuthuleni.com">conference@ekuthulenilodge.co.za</a></span>
    </p>
    <p>
        <span class="label">Reception:</span>
        <span><a href="mailto:reception@ekuthulenilodge.co.za">reception@ekuthulenilodge.co.za</a></span>
    </p>
</section>